#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "radarr"
name = "Radarr"
description.en = "Movie collection manager for Usenet and BitTorrent users"
description.fr = "Gestionnaire de filmothèque pour utilisateurs de Usenet et BitTorrent"

version = "6.0.4.10291~ynh1"

maintainers = ["tituspijean"]

[upstream]
license = "GPL-3.0-only"
website = "https://radarr.video"
admindoc = "https://wiki.servarr.com/Radarr"
code = "https://github.com/Radarr/Radarr"
fund = "https://radarr.video/donate"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = ["armhf", "arm64", "amd64"]
multi_instance = true

ldap = false
sso = "not_relevant"

disk = "300M"
ram.build = "100M"
ram.runtime = "100M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/radarr"

    [install.init_main_permission]
    type = "group"
    help.en = "Logging in is disabled for Radarr on YunoHost, use this permission to manage who will have access."
    help.fr = "La connexion est désactivée pour Radarr sur YunoHost, utilisez cette permission pour gérer qui y aura accès."

[resources]
    [resources.sources.main]
    armhf.url = "https://github.com/Radarr/Radarr/releases/download/v6.0.4.10291/Radarr.master.6.0.4.10291.linux-core-arm.tar.gz"
    armhf.sha256 = "17bf2f67c869e94992c3ea6c6d53373d7eb97a5f64ae35102aa01432023c604b"
    arm64.url = "https://github.com/Radarr/Radarr/releases/download/v6.0.4.10291/Radarr.master.6.0.4.10291.linux-core-arm64.tar.gz"
    arm64.sha256 = "cb32d0f3ae3b89c19ef154cb224275daf69fd8a483f9de0708ab4005575b11ee"
    amd64.url = "https://github.com/Radarr/Radarr/releases/download/v6.0.4.10291/Radarr.master.6.0.4.10291.linux-core-x64.tar.gz"
    amd64.sha256 = "fa90dd9bfd060b96756739d7827b51d67d04849001aa5733c4e53c5f9a08b023"
    #i386.url = "https://github.com/Radarr/Radarr/releases/download/v5.28.0.10274/Radarr.master.5.28.0.10274.linux-core-x86.tar.gz"
    #i386.sha256 = "5f7b5938e8ff7bb56b852f9c47bff43480808102a51746168cfed03f635aa35e"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.armhf = ".*linux-core-arm.tar.gz"
    autoupdate.asset.arm64 = ".*linux-core-arm64.tar.gz"
    autoupdate.asset.amd64 = ".*linux-core-x64.tar.gz"
    #autoupdate.asset.i386 = ".*linux-core-x86.tar.gz"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["logs"]

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.allowed = "visitors"
    api.show_tile = false
    api.protected = true

    [resources.ports]

    [resources.apt]
    packages = "curl, mediainfo, sqlite3"
